body {
  background-color: #cecece !important;
  margin: 20px !important;
}

img {
  height: 25px;
  padding: 1px 1px 1px 1px;
}
tr td {
  padding: 8px 8px 8px 8px;
  text-align: center;
}
th {
  padding: 8px 8px 8px 8px;
  text-align: center !important;
}
