body {
  background-color: #cecece !important;
  margin: 20px !important;
}

img {
  height: 25px;
  padding: 1px 1px 1px 1px;
}
tr td {
  padding: 8px 8px 8px 8px;
  text-align: center;
}
th {
  padding: 8px 8px 8px 8px !important;
  text-align: center !important;
  font-size: 130%;
}
button {
  background-color: #bbbbff;
  padding: 8px 12px 8px 12px;
  border-radius: 7px;
}
